.DS_Store
images/.DS_Store
node_modules/
package-lock.json
dist/
.env
.env.local
.env.*.local
.vscode/
.idea/
.vite/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
coverage/
.cache/
.parcel-cache/
.eslintcache
*.tgz
